@import '../configs/variables.module';

.container {
  width: 100%;
  max-width: 1200px;
  min-height: 200px;
  background-color: $primary-color-7;
  padding: 2rem;
  border-radius: $border-radius-sm;
}

.container_lighten {
  @extend .container;
  background-color: lighten($primary-color-7, 20%);
}
