@import '../configs/variables.module';
@import '../utils/classes.scss';

.container {
  width: 100%;
  max-width: 1200px;
  min-height: 200px;
  @extend .bg_color_7;
  padding: 2rem;
  border-radius: $border_radius_sm;
}

.container_lighten {
  @extend .container;
  transition: all 1000ms;
  background: linear-gradient(-35deg, $primary-color-7, $primary-color-6);
  transition: all 400ms ease-out;
  background-size: 400%;
  background-position: 0 100%;
  animation-duration: 2s;
  animation-name: animateGradient;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes animateGradient {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}
