@import '../configs/variables';

.active {
  text-decoration: underline !important;
  text-decoration-color: inherit;
  text-underline-offset: 0.4rem;
}

.container {
  cursor: pointer;
  text-transform: capitalize;
  color: $primary-color-3;
  text-decoration: none;
  &:hover {
    @extend .active;
  }
}
