%selected {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-underline-offset: 0.4rem;
}

.container {
  cursor: pointer;
  text-transform: capitalize;
  &:hover {
    @extend %selected;
  }
}

.selected_container {
  @extend .container;
  @extend %selected;
}
