@import '../configs/variables';
@import '../utils/classes';

.container {
  max-width: fit-content;
  padding: 1rem;
  border-radius: $border-radius-sm;
  background-color: $primary-color-7;
  color: $primary-color-1;
  display: flex;
  @extend .gap_6;
}
