@import '../configs/variables.module';
@import '../utils/classes';

.container {
  max-width: fit-content;
  border-radius: $border_radius_sm;
  color: $primary-color-1;
  display: flex;
  align-self: center;
  margin: 2rem auto;
  list-style: none;
  @extend .bg_color_7;
  @extend .gap_6;
  @extend .padding_5;
}
