@import '../configs/variables.module';

.row {
  display: flex;
}

.column {
  @extend .row;
  flex-direction: column;
}

.align_items_center {
  align-items: center;
}

@each $key, $val in $primary-colors {
  .text_color_#{$key} {
    color: $val;
  }
  .bg_color_#{$key} {
    background-color: $val;
  }
}

@each $key, $val in $paddings {
  .padding_#{$key} {
    padding: $val;
  }
}

@each $key, $val in $border-radiuses {
  .border_radius_#{$key} {
    border-radius: $val;
  }
}

@each $key, $val in $gaps {
  .gap_#{$key} {
    gap: $val;
  }
}
