@import '../configs/variables';

.row {
  display: flex;
}

.column {
  @extend .row;
  flex-direction: column;
}

.align_items_center {
  align-items: center;
}

@each $key, $val in $gaps {
  .gap_#{$key} {
    gap: $val;
  }
}
