@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
@import 'variables.module';

body {
  font-family: Roboto Mono;
  background-color: $primary-color-5;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
