// Colors taken from the awesome Open Color (https://yeun.github.io/open-color/)
$primary-color-0: #f8f9fa;
$primary-color-1: #f1f3f5;
$primary-color-2: #e9ecef;
$primary-color-3: #dee2e6;
$primary-color-4: #ced4da;
$primary-color-5: #adb5bd;
$primary-color-6: #868e96;
$primary-color-7: #495057;
$primary-color-8: #343a40;
$primary-color-9: #212529;

$primary-colors: (
  0: $primary-color-0,
  1: $primary-color-1,
  2: $primary-color-2,
  3: $primary-color-3,
  4: $primary-color-4,
  5: $primary-color-5,
  6: $primary-color-6,
  7: $primary-color-7,
  8: $primary-color-8,
  9: $primary-color-9,
);

$border-radius-sm: 0.5rem;
$border-radius-md: 1rem;
$border-radius-xl: 1.5rem;

$border-radiuses: (
  0: 0,
  1: $border-radius-sm,
  2: $border-radius-md,
  3: $border-radius-xl,
);

$gaps: (
  0: 0,
  1: 0.5rem,
  2: 0.75rem,
  3: 1rem,
  4: 1.25rem,
  5: 1.5rem,
  6: 2rem,
  7: 3rem,
);

$paddings: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.5rem,
  6: 2rem,
  7: 2.5rem,
  8: 3rem,
  9: 4rem,
);

:export {
  primaryColor0: $primary-color-0;
  primaryColor1: $primary-color-1;
  primaryColor2: $primary-color-2;
  primaryColor3: $primary-color-3;
  primaryColor4: $primary-color-4;
  primaryColor5: $primary-color-5;
  primaryColor6: $primary-color-6;
  primaryColor7: $primary-color-7;
  primaryColor8: $primary-color-8;
  primaryColor9: $primary-color-9;
}
